.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: rgba(15, 23, 42, 0.95);

  position: sticky;
  top: 0;

  z-index: 1000;
}

.logo {
  color: #00f7ff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00f7ff;
}
.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 8px;
}

.nav-links a:hover {
  color: #00f7ff;
  background: rgba(0, 247, 255, 0.1);
}